<div class="container">
  <div class="post-form">
    <%= form_for @post do |f| %>
      <p>
        <p class="label"><%= f.label :title  %></p>
        <%= f.text_area :title, size:"40x1" %>
      </p>
      <p>
        <p class="label"><%= f.label :body  %></p> 
        <%= f.cktext_area :body, size:"100x10" %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end  %>
  </div>
</div>