<div class="container">
  <%= render partial: '/layouts/recent_posts' %>

  <img class="post-pic-show" src="https://unsplash.it/500/500/?image=<%= @post.pic_number %>" alt="ooppsss">
  <h1 class="post-show-title"><%= @post.title %></h1>
  <p class="created_at"><%= @post.created_at.strftime("%A, %d %b %Y") %></p>
  <p class="post-body-show"><%= @post.body %></p>

  <% if current_user %>
    <div class="edit-delete">
      <p class="edit-link post-links"><%= link_to "Edit", edit_post_path %></p>
      <p class="delete-link post-links"><%= link_to "Delete", post_path, method: :delete %></p>
    </div>
  <% end %>


  <div class="post-counter">
  <% case current_post(@post) %>
    <% when 1 %>
      <%= render partial: "/posts/post_counter" %> 
      <%= render partial: "/posts/arrow_forward" %>
    <% when all_current_posts.length %>
      <%= render partial: "/posts/arrow_back" %>
      <%= render partial: "/posts/post_counter" %> 
    <% else %>
      <%= render partial: "/posts/arrow_back" %>
      <%= render partial: "/posts/post_counter" %> 
      <%= render partial: "/posts/arrow_forward" %>
  <% end  %>
  </div>

</div>