<div class="container">
  <%= render partial: '/layouts/recent_posts' %>

  <img class="post-pic-show" src="https://unsplash.it/500/500/?image=1033" alt="ooppsss">
  <h1 class="post-show-title"><%= @post.title %></h1>
  <p class="created_at"><%= @post.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
  <p class="post-body-show"><%= @post.body %></p>


  <div class="post-counter">
    <div class="arrow arrow-back">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
    <span class="current-post-number post-number"><%= @post.id %> /</span><span class="all-post-number post-number"> <%= @all_posts.length %></span>
    <div class="arrow arrow-forward">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div> 
  </div>

</div>