<% if @home %>
  <div class="header_home">
    <% if current_user %>
      <p class="logout"><%= link_to "Logout", session_path(current_user), :method => :delete %></p>
      <p class="new_post_link"><%= link_to "New Post", new_post_path %></p>
    <% end %>
  <p class="page-title">ian's blog</p>
  </div>

<% else %>
  <div class="header_other">
    <p class="home_link"><%= link_to "home", root_path %></p>
    <% if current_user %>
      <p class="logout"><%= link_to "Logout", session_path(current_user), :method => :delete %></p>
      <p class="new_post_link"><%= link_to "New Post", new_post_path %></p>
    <% end %>
    <p class="page-title-small">ian's blog</p>
  </div>
  
<% end %>



