<!DOCTYPE html>
<html>
  <head>
    <title>IansBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Montserrat|Satisfy" %>
  </head>

  <body>
  <%= render partial: '/layouts/header' %>
    <%= yield %>
  </body>
</html>
